cc/api/tests/schemata/issue.relax.xml

<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <element name="result">
      <group>
        <element name="license-uri">
          <text/>
        </element>
        <element name="license-name">
          <text/>
        </element>
        <element name="rdf">
          <ref name="d1_RDF"/>
        </element>
        <element name="licenserdf">
          <ref name="d1_RDF"/>
        </element>
        <element name="html">
          <!-- don't care what the html tag looks like -->
          <!-- that's for cc.license to validate -->
          <ref name="any"/>
        </element>
      </group>
    </element>
  </start>


<!-- any = (text | element * { attribute * { text }*, any })* -->
<!-- mixed { element * {  ( attribute * { text } | text | any )* } } -->

  <define name="any">
    <zeroOrMore>
      <choice>
        <element>
          <anyName/>
          <zeroOrMore>
            <attribute>
              <anyName/>
            </attribute>
          </zeroOrMore>
          <ref name="any"/>
        </element>
        <text/>
      </choice>
    </zeroOrMore>
  </define>



  <define name="d1_RDF">
    <element ns="http://www.w3.org/1999/02/22-rdf-syntax-ns#" name="RDF">
      <group>
        <optional>
          <element ns="http://creativecommons.org/ns#" name="Work">
            <attribute ns="http://www.w3.org/1999/02/22-rdf-syntax-ns#" name="about">
              <text/>
            </attribute>
            <interleave>
              <element name="license">
                <attribute ns="http://www.w3.org/1999/02/22-rdf-syntax-ns#" name="resource">
                  <text/>
                </attribute>
              </element>
	      <optional>
	          <element ns="http://purl.org/dc/elements/1.1/" name="title">
		      <text/>
		  </element>
	      </optional>
	      <optional>
	          <element ns="http://purl.org/dc/elements/1.1/" name="date">
		      <text/>
		  </element>
	      </optional>
	      <optional>
	          <element ns="http://purl.org/dc/elements/1.1/" name="description">
		      <text/>
		  </element>
	      </optional>
	      <optional>
	          <element ns="http://purl.org/dc/elements/1.1/" name="type">
                      <attribute ns="http://www.w3.org/1999/02/22-rdf-syntax-ns#" name="resource">
                        <text/>
                      </attribute>
		  </element>
	      </optional>
	      <optional>
	          <element ns="http://purl.org/dc/elements/1.1/" name="source">
                      <attribute ns="http://www.w3.org/1999/02/22-rdf-syntax-ns#" name="resource">
                        <text/>
                      </attribute>
		  </element>
	      </optional>
	      <optional>
	          <element ns="http://purl.org/dc/elements/1.1/" name="creator">
                      <element name="Agent">
                        <text/>
                      </element>
		  </element>
	      </optional>
	      <optional>
	          <element ns="http://purl.org/dc/elements/1.1/" name="rights">
                      <element name="Agent">
                        <text/>
                      </element>
		  </element>
	      </optional>
            </interleave>
          </element>
        </optional>
        <element ns="http://creativecommons.org/ns#" name="License">
          <group>
            <attribute ns="http://www.w3.org/1999/02/22-rdf-syntax-ns#" name="about">
              <text/>
            </attribute>
            <interleave>
              <zeroOrMore>
                <element name="requires">
                  <attribute ns="http://www.w3.org/1999/02/22-rdf-syntax-ns#" name="resource">
                    <text/>
                  </attribute>
                </element>
              </zeroOrMore>
              <zeroOrMore>
                <element name="prohibits">
                  <attribute ns="http://www.w3.org/1999/02/22-rdf-syntax-ns#" name="resource">
                    <text/>
                  </attribute>
                </element>
              </zeroOrMore>
              <zeroOrMore>
                <element name="permits">
                  <attribute ns="http://www.w3.org/1999/02/22-rdf-syntax-ns#" name="resource">
                    <text/>
                  </attribute>
                </element>
              </zeroOrMore>
              <zeroOrMore>
                <element ns="http://www.w3.org/2000/01/rdf-schema#" name="subClassOf">
                  <attribute ns="http://www.w3.org/1999/02/22-rdf-syntax-ns#" name="resource">
                    <text/>
                  </attribute>
                </element>
              </zeroOrMore>
            </interleave>
          </group>
        </element>
      </group>
    </element>
  </define>

</grammar>
